/* app css stylesheet */


#video_box{
    float:left;
}
#MyVideo1{

   width: 674px; 
   height: 340px
}
#itemImg{
    width: 67px; 
   height: 34px

}
#video_overlays {
    /*margin-top:2%;*/
position:absolute;
float:left;
    width:620px;
    min-height:300px;
    /*background-color:#808080;*/
    opacity: 1;
    z-index:2;
}