
<div>
    <p class="mytext">Selecte Items to shop by clicking book button.</p>
    <input type="submit" value="Choose Items" ng-click="ShowItemsAvail()" style="height: 33px" />
</div>
<br />

<div id="wrap_video">

<div id="video_box">
    <div id="video_overlays" ng-show="isVisible">
         <ul ng-repeat="item in availItems">
          <li>  <img ng-attr-title="{{ item.name }}" ng-click="openInNewWindow(item)" id="itemImg" ng-src={{item.imgURL}} alt="" /></li>
        </ul>
    </div>
   
    <div>
      <!--  <video id="MyVideo1" onplay="vidplay()" controls >
        <source src="http://localhost/shop/video/sreemanthudu.mp4" type="video/mp4">
        </video>-->

       <video id="MyVideo1" data-no-fullscreen="true"  controls >
          <source  src="http://localhost/shop/video/sreemanthudu.mp4">

       </video>
    </div>
</div>
    
</div>



